body {
	background-color: black;
	font-size: 14px;
}

label {
	margin-top: 12px;
	display: block;

	span {
		margin-right: 6px;
	}
}

input[type='text'],
input[type='number'] {
	background-color: white;
}
